.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  padding: 2rem 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .layout-main {
    padding: 2rem 2rem;
  }
}

@media (min-width: 1200px) {
  .layout-main {
    padding: 2rem 3rem;
  }
}
